.PaymentLayout {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  padding: 20px;
  /* justify-content: space-evenly; */
  height: 80vh;
  overflow-y: scroll;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: auto;
  padding: 20px;
}
.h1_div {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px;
}
.h1_div img {
  width: 200px;
  height: 50px;
}

.Divdetalle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.Divdetalle h1 {
  padding-left: 8px;
  font-size: 16px;
  color: #0061df;
  font-weight: 600;
  padding-bottom: 20px;
}

.detalle {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 300px;
}

.divBeneficios {
  width: auto;
  height: auto;
  padding: 20px;

  align-content: flex-start;
  border-radius: 10.6667px;
}
.divBeneficios h1 {
  font-size: 16px;
  color: #0061df;
  font-weight: 600;
  padding-bottom: 20px;
}
.containerMetodoPago {
  width: 100%;
}

.containerMetodoPago h1 {
  font-size: 16px;
  color: #2c2d2e;
  font-weight: 600;
  padding-bottom: 24px;
}

.mercadoPago {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 10px;
  border: 1px solid #2c2d2e42;
  justify-content: space-between;
}
.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
  padding: 20px;
  width: 100%;
}
.divButton button {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  width: 200px;
  border-radius: 8px;
  height: 40px;
  background-color: #0061df;
}
.tarjetas{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  /* display: flex,
  flex-direction: row,
  alignItems: center,
  gap:20px, */
}
@media (max-width: 700px) {
  .PaymentLayout {
    flex-direction: column-reverse;
    align-items: center;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .containerMetodoPago {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Divdetalle {
    align-items: flex-start;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .tarjetas{
    display: none;
  }
}